# M2 Cleaning Data

## Index
- [Requirement](#Requirement)
- [1. Objective](#1.-Objective)
- [2. Dataset](#2.-Dataset)
- [3. Importance of Data Profiling](#3.-Importance-of-Data-Profiling)
- [4. Enhancement of Data Dictionary](#4.-Enhancement-of-Data-Dictionary)
- [5. Importing Libraries](#5.-Importing-Libraries)
- [6. Downloads data from a given URL in chunks converts it to CSV format](#6.-Downloads-data-from-a-given-URL-in-chunks-converts-it-to-CSV-format)
- [7. Load Dataset from GitHub to Pandas dataframe](#7.-Load-Dataset-from-GitHub-to-Pandas-dataframe) 

- [8. Exploratory Data Analysis (EDA)](#8.-Exploratory-Data-Analysis-(EDA))

-----------------------
## Requirement

#### Step 1: Review the data set(s) associated with your project topic

#### Step 2: "Clean" your data  
-  Review outliers and null/missing data using Tableau Prep. As this is not the scope of this class just make a note of them and add them in the write-up. No need to do anything further. 

#### Step 3: Perform an Exploratory Data Analysis
-  Which date ranges are you going to pick? 
-  Is there any seasonality in your data? 
-  Are there any positive or negative correlations? 
-  Are there data points with no correlation?
-  Mean, median, modes? 
-  Range, standard deviations, interquartile ranges? 
-  Frequencies? 
-  Percentages

#### Step 4: Write a one-pager about your work
-  Write a 400-word minimum one-pager about the process. 
-  Include an introduction that describes the type of data. 
-  Describe outliers, missing information, or null values. 
-  Describe the Exploratory Data Analysis that was performed and what where the findings. 


------------

### 1. Objective
In this assingmnet our main objective is to analyze a specific dataset, which is often an overlooked but crucial step in any data related project. By gaining an understanding of the datasets content and structure we can formulate meaningful questions streamline the development of Extract, Transform, Load (ETL) processes and improve our ability to adapt to changes.

### 2. Dataset
The dataset we will be using is the Yellow Taxi Trip Data from New York City. This dataset is publicly available through NYC Open Data. Due to its size and complexity we might choose to initially analyze a representative sample or use techniques suitable for analyzing large scale data.

### 3. Importance of Data Profiling & Cleaning
Data profiling plays a role even when we receive detailed information from data services, like NYC Open Data. It helps us validate the datas accuracy identify issues and grasp the intricacies that may not be fully explained in the provided data dictionary.

### 4. Enhancement of Data Dictionary
As part of this exercise our aim is to enhance the existing data dictionary provided by NYC Open Data for the Yellow Taxi Trip Data. This will enable us to enhance our comprehension of the dataset and guarantee that we have all the necessary tools to utilize the data efficiently.

------

### 5. Importing Libraries

In [1]:
# Importing the required libraries
import pandas as pd  # Importing the pandas library for data manipulation and analysis
import pandas_profiling  # Importing the pandas_profiling library for generating data profiling reports
import requests  # Importing the requests library for making HTTP requests
import boto3  # Importing the boto3 library for interacting with AWS services
from sqlalchemy import create_engine # Importing the create_engine function from the sqlalchemy library for database interaction
import configparser  # Importing the configparser library for reading configuration files
import warnings  # Importing the warnings module for handling warnings
warnings.filterwarnings("ignore")  # Ignore warning messages
from botocore.exceptions import NoCredentialsError  # Importing the NoCredentialsError exception from the botocore library
import seaborn as sns # Importing the seaborn library for data visualisation
import matplotlib.pyplot as plt  # Importing the matplotlib library for data visualisation
plt.style.use(['seaborn-darkgrid']) # Applying darkgrid
import json # Importing jason library to ready the jason file

# Importing Lib


# IMPORTING LIBRARIES

import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use(['seaborn-darkgrid']) ##applying darkgrid


# Import sklearn libraries
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import make_scorer, r2_score

# Notebook setting to display all the rows and columns .
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns',None)

# Ignoring warnings
import warnings 
warnings.filterwarnings("ignore")

/var/folders/tv/3vmkrhw55ld8gk6wm6j1pl1h0000gn/T/ipykernel_46598/2615368860.py:3: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling  # Importing the pandas_profiling library for generating data profiling reports

### 6. Downloads data from a given URL in chunks converts it to CSV format

In [2]:
def download_data_to_desktop(url, file_name, chunk_size, num_records=999999):
    """
    Downloads data from a given URL in chunks, converts it to CSV format,
    and saves each chunk as a CSV file on the desktop.

    Args:
        url (str): The URL to download the data from.
        file_name (str): The base name of the CSV file to be created (without the chunk number).
        chunk_size (int): The number of records to download in each chunk.
        num_records (int): The total number of records to download (default is 2 million).
    """
    
    # Calculate the number of chunks needed
    num_chunks = num_records // chunk_size + (0 if num_records % chunk_size == 0 else 1)

    # Loop through the number of chunks
    for i in range(num_chunks):
        offset = i * chunk_size
        print(f"Processing chunk {i+1} of {num_chunks}, records {offset} to {min(offset + chunk_size, num_records)}")

        try:
            # Getting the data for this chunk
            response = requests.get(url + f"?$limit={chunk_size}&$offset={offset}")
            response.raise_for_status()  # Raise an exception if the request was unsuccessful
            data = response.json()

            # Converting the data to a pandas DataFrame
            df = pd.DataFrame(data)

            # Define the path for the desktop, adjusting 'YourUsername' as needed
            desktop_path = os.path.join(os.path.expanduser('~'), 'Desktop')

            # Define the full file path
            file_path = os.path.join(desktop_path, f'{file_name}_{i+1}.csv')

            # Converting the DataFrame to CSV and saving to desktop
            df.to_csv(file_path, index=False)
            print(f"Saved chunk {i+1} to {file_path}")

        except requests.exceptions.RequestException as e:
            print(f"Request to API failed: {e}")
            break  # If a request fails, exit the loop

    print("Download Complete")

In [3]:
url = "https://data.cityofnewyork.us/resource/m6nq-qud6.json"
file_name = 'Yellow_Taxi_Trip_Data_2m'
chunk_size = 999999

download_data_to_desktop(url, file_name, chunk_size)

Processing chunk 1 of 1, records 0 to 999999

NameError: name 'os' is not defined

In [6]:

import os  # Import the os module at the start of your script
import pandas as pd

file_name = 'Yellow_Taxi_Trip_Data_2m'
chunk_size = 999999
url = 'your_url_here'  # Make sure to define your URL here

def download_data_to_desktop(url, file_name, chunk_size):
    # Your existing code for download_data_to_desktop function
    pass

# Now call your function
download_data_to_desktop(url, file_name, chunk_size)

#### Summary

- The function processed a dataset of two million rows from an API, creating a CSV file named Yellow_Taxi_Trip_Data_2m_1.csv. This file was then saved to the user's desktop at the path /Users/Desktop/. The operation was completed in one chunk and the function reported "Download Complete" upon finishing, indicating the process was successful without encountering any errors.

-----------

### 7. Load Dataset from GitHub to Pandas dataframe

In [9]:
# Loading Data from Github

url0 = "https://media.githubusercontent.com/media/karinathpa/DAV-5200/main/Yellow_Taxi_Trip_Data.csv"

# Reading Data via pd.read_csv
df = pd.read_csv(url0)

# Displaying first 10 rows of the data
df.head(5)

   vendorid     tpep_pickup_datetime    tpep_dropoff_datetime  passenger_count  trip_distance  ratecodeid store_and_fwd_flag  pulocationid  dolocationid  payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  improvement_surcharge  total_amount  congestion_surcharge
0         1  2021-01-01T00:30:10.000  2021-01-01T00:36:12.000                1           2.10           1                  N           142            43             2          8.0    3.0      0.5        0.00           0.0                    0.3         11.80                   2.5
1         1  2021-01-01T00:51:20.000  2021-01-01T00:52:19.000                1           0.20           1                  N           238           151             2          3.0    0.5      0.5        0.00           0.0                    0.3          4.30                   0.0
2         1  2021-01-01T00:43:30.000  2021-01-01T01:11:06.000                1          14.70           1                  N           132           165             1         42.0    0.5      0.5        8.65           0.0                    0.3         51.95                   0.0
3         1  2021-01-01T00:15:48.000  2021-01-01T00:31:01.000                0          10.60           1                  N           138           132             1         29.0    0.5      0.5        6.05           0.0                    0.3         36.35                   0.0
4         2  2021-01-01T00:31:49.000  2021-01-01T00:48:21.000                1           4.94           1                  N            68            33             1         16.5    0.5      0.5        4.06           0.0                    0.3         24.36                   2.5

## 8. Exploratory Data Analysis (EDA)

Eyeballing data
summary of the dataset
Dataframe Shape
Statistical summary 
Determine the category of each column in a DataFrame.
Finding Null Rate

Performing data profiling using pandas_profiling library
Dropping Duplicates
Missing values proportion
Unique values for each column
Check the unique values in DataFrame df according to the Data dictionry variable information
Convert pickup and dropoff datetime from object to datetime64

### Eyeballing data

In [17]:
# Eyeballing data
df.head()

   vendorid     tpep_pickup_datetime    tpep_dropoff_datetime  passenger_count  trip_distance  ratecodeid store_and_fwd_flag  pulocationid  dolocationid  payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  improvement_surcharge  total_amount  congestion_surcharge
0         1  2021-01-01T00:30:10.000  2021-01-01T00:36:12.000                1           2.10           1                  N           142            43             2          8.0    3.0      0.5        0.00           0.0                    0.3         11.80                   2.5
1         1  2021-01-01T00:51:20.000  2021-01-01T00:52:19.000                1           0.20           1                  N           238           151             2          3.0    0.5      0.5        0.00           0.0                    0.3          4.30                   0.0
2         1  2021-01-01T00:43:30.000  2021-01-01T01:11:06.000                1          14.70           1                  N           132           165             1         42.0    0.5      0.5        8.65           0.0                    0.3         51.95                   0.0
3         1  2021-01-01T00:15:48.000  2021-01-01T00:31:01.000                0          10.60           1                  N           138           132             1         29.0    0.5      0.5        6.05           0.0                    0.3         36.35                   0.0
4         2  2021-01-01T00:31:49.000  2021-01-01T00:48:21.000                1           4.94           1                  N            68            33             1         16.5    0.5      0.5        4.06           0.0                    0.3         24.36                   2.5

### Summary of the dataset

In [18]:
# summary of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   vendorid               999999 non-null  int64
 1   tpep_pickup_datetime   999999 non-null  object
 2   tpep_dropoff_datetime  999999 non-null  object
 3   passenger_count        999999 non-null  int64
 4   trip_distance          999999 non-null  float64
 5   ratecodeid             999999 non-null  int64
 6   store_and_fwd_flag     999999 non-null  object
 7   pulocationid           999999 non-null  int64
 8   dolocationid           999999 non-null  int64
 9   payment_type           999999 non-null  int64
 10  fare_amount            999999 non-null  float64
 11  extra                  999999 non-null  float64
 12  mta_tax                999999 non-null  float64
 13  tip_amount             999999 non-null  float64
 14  tolls_amount           999999 non-null  float64
 15  improvement_surcharge  999999 non-null  float64
 16  total_amount           999999 non-null  float64
 17  congestion_surcharge   999999 non-null  float64
dtypes: float64(9), int64(6), object(3)
memory usage: 137.3+ MB

### Dataframe Shape

In [12]:
# Shape of the data frame df
df.shape

(999999, 18)

### Statistical summary

In [15]:
# Statistical summary 
df.describe()

            vendorid  passenger_count  trip_distance     ratecodeid   pulocationid   dolocationid   payment_type    fare_amount          extra        mta_tax     tip_amount   tolls_amount  improvement_surcharge   total_amount  congestion_surcharge
count  999999.000000    999999.000000  999999.000000  999999.000000  999999.000000  999999.000000  999999.000000  999999.000000  999999.000000  999999.000000  999999.000000  999999.000000          999999.000000  999999.000000         999999.000000
mean        1.678075         1.415605       2.650755       1.036725     166.079826     163.275666       1.284102      11.123820       0.969029       0.492798       1.942677       0.189862               0.296700      16.534083              2.231398
std         0.467215         1.063418       3.522421       0.607346      66.620856      71.493346       0.493480      12.732746       1.220146       0.078303       2.751846       1.646505               0.043869      14.804075              0.808321
min         1.000000         0.000000       0.000000       1.000000       1.000000       1.000000       1.000000    -250.500000      -5.500000      -0.500000    -100.000000     -19.250000              -0.300000    -252.300000             -2.500000
25%         1.000000         1.000000       0.990000       1.000000     132.000000     107.000000       1.000000       6.000000       0.000000       0.500000       0.000000       0.000000               0.300000      10.560000              2.500000
50%         2.000000         1.000000       1.620000       1.000000     162.000000     162.000000       1.000000       8.000000       0.500000       0.500000       1.850000       0.000000               0.300000      13.500000              2.500000
75%         2.000000         1.000000       2.800000       1.000000     236.000000     236.000000       2.000000      12.000000       2.500000       0.500000       2.700000       0.000000               0.300000      17.850000              2.500000
max         2.000000         8.000000     427.700000      99.000000     265.000000     265.000000       4.000000    6960.500000       7.000000       0.500000    1140.440000     811.750000               0.300000    7661.280000              2.500000

### Determine the category of each column in a DataFrame.

In [19]:
def get_var_category(series):
    """
    Determine the category of a given series (column) in a DataFrame.
    
    Parameters:
        series (pandas.Series): The series to determine the category of.
        
    Returns:
        str: The category of the series.
    """
    unique_count = series.nunique(dropna=False)
    total_count = len(series)
    
    # Check if the series is numeric
    if pd.api.types.is_numeric_dtype(series):
        return 'Numerical'
    
    # Check if the series is a datetime type
    elif pd.api.types.is_datetime64_dtype(series):
        return 'Date'
    
    # Check if all values in the series are unique
    elif unique_count == total_count:
        return 'Text (Unique)'
    
    # If none of the above conditions are met, consider the series as categorical
    else:
        return 'Categorical'

def print_categories(df):
    """
    Print the category of each column in a DataFrame.
    
    Parameters:
        df (pandas.DataFrame): The DataFrame to print the categories of.
    """
    for column_name in df.columns:
        # Print the column name and its corresponding category
        print(column_name, ": ", get_var_category(df[column_name]))

In [20]:
# Calling UDF print_categories to get category of each column
print_categories(df)

vendorid :  Numerical
tpep_pickup_datetime :  Categorical
tpep_dropoff_datetime :  Categorical
passenger_count :  Numerical
trip_distance :  Numerical
ratecodeid :  Numerical
store_and_fwd_flag :  Categorical
pulocationid :  Numerical
dolocationid :  Numerical
payment_type :  Numerical
fare_amount :  Numerical
extra :  Numerical
mta_tax :  Numerical
tip_amount :  Numerical
tolls_amount :  Numerical
improvement_surcharge :  Numerical
total_amount :  Numerical
congestion_surcharge :  Numerical

------

| #   | Column                 | Non-Null Count | Dtype  | Category       |
| --- | ---------------------- | -------------- | ------ | -------------- |
| 0   | vendorid               | 999999 non-null | int64  | Numerical      |
| 1   | tpep_pickup_datetime   | 999999 non-null | object | Categorical    |
| 2   | tpep_dropoff_datetime  | 999999 non-null | object | Categorical    |
| 3   | passenger_count        | 999999 non-null | int64  | Numerical      |
| 4   | trip_distance          | 999999 non-null | float64| Numerical      |
| 5   | ratecodeid             | 999999 non-null | int64  | Numerical      |
| 6   | store_and_fwd_flag     | 999999 non-null | object | Categorical    |
| 7   | pulocationid           | 999999 non-null | int64  | Numerical      |
| 8   | dolocationid           | 999999 non-null | int64  | Numerical      |
| 9   | payment_type           | 999999 non-null | int64  | Numerical      |
| 10  | fare_amount            | 999999 non-null | float64| Numerical      |
| 11  | extra                  | 999999 non-null | float64| Numerical      |
| 12  | mta_tax                | 999999 non-null | float64| Numerical      |
| 13  | tip_amount             | 999999 non-null | float64| Numerical      |
| 14  | tolls_amount           | 999999 non-null | float64| Numerical      |
| 15  | improvement_surcharge  | 999999 non-null | float64| Numerical      |
| 16  | total_amount           | 999999 non-null | float64| Numerical      |
| 17  | congestion_surcharge   | 999999 non-null | float64| Numerical      |

----

### Finding Null Rate

In [16]:
# finding Null Rate
df.isna().mean().round(4).to_frame()

                         0
vendorid               0.0
tpep_pickup_datetime   0.0
tpep_dropoff_datetime  0.0
passenger_count        0.0
trip_distance          0.0
ratecodeid             0.0
store_and_fwd_flag     0.0
pulocationid           0.0
dolocationid           0.0
payment_type           0.0
fare_amount            0.0
extra                  0.0
mta_tax                0.0
tip_amount             0.0
tolls_amount           0.0
improvement_surcharge  0.0
total_amount           0.0
congestion_surcharge   0.0

In [21]:
# finding Null Rate
null_rate = df.isna().mean().round(4) * 100
null_rate_df = null_rate.to_frame(name='null_rate (%)')
null_rate_df

                       null_rate (%)
vendorid                         0.0
tpep_pickup_datetime             0.0
tpep_dropoff_datetime            0.0
passenger_count                  0.0
trip_distance                    0.0
ratecodeid                       0.0
store_and_fwd_flag               0.0
pulocationid                     0.0
dolocationid                     0.0
payment_type                     0.0
fare_amount                      0.0
extra                            0.0
mta_tax                          0.0
tip_amount                       0.0
tolls_amount                     0.0
improvement_surcharge            0.0
total_amount                     0.0
congestion_surcharge             0.0

----------

- No Null Vlaues in the data set. 

-------

### Dropping Duplicates

In [23]:
# Drop duplicate rows from the DataFrame
dff = df.drop_duplicates()

In [24]:
# Confirm the action by displaying the shape of the DataFrame
df.shape

(999999, 18)

------

- No Duplicate were found in the DataSet

---

### Missing values proportion

In [39]:
import pandas as pd
import numpy as np

# Assuming 'df' is your DataFrame and you want to replace NaN, NA, NAN, or blank with pd.NA
# Standardize missing values to np.nan (which is the standard missing value marker used by pandas)
df.replace([np.nan, pd.NA, 'NA', 'NAN', ''], np.nan, inplace=True)

# Initialize a dictionary to store the proportion of missing values for different missing indicators
missing_proportions = {'NaN': {}, 'NA': {}, 'NAN': {}, 'blank': {}}

# Loop through all columns in df
for column in df.columns:
    # Count the total values for proportion calculation
    total_values = df.shape[0]

    # Check for standard NaN values (which includes all the types after replacement)
    missing_values_count = df[column].isna().sum()
    proportion_missing = missing_values_count / total_values
    missing_proportions['NaN'][column] = proportion_missing

    # Print column-wise missing value statistics if proportion is greater than 0
    if proportion_missing > 0:
        print(f"Column '{column}':")
        print(f"  Count of missing values: {missing_values_count}")
        print(f"  Proportion of missing values: {proportion_missing:.2%}")

In [38]:
missing_proportions_df

                       Proportion
vendorid                      0.0
tpep_pickup_datetime          0.0
tpep_dropoff_datetime         0.0
passenger_count               0.0
trip_distance                 0.0
ratecodeid                    0.0
store_and_fwd_flag            0.0
pulocationid                  0.0
dolocationid                  0.0
payment_type                  0.0
fare_amount                   0.0
extra                         0.0
mta_tax                       0.0
tip_amount                    0.0
tolls_amount                  0.0
improvement_surcharge         0.0
total_amount                  0.0
congestion_surcharge          0.0

### Summary:

- The dataset is complete with zero missing values across all columns, indicating excellent data quality and readiness for analysis. Although no issues with data completeness are present, it's still advisable to conduct further checks for any anomalies or outliers before proceeding with in-depth analysis.

----------

### Unique values for each column

In [31]:
## unique values for each column

# Creating a summary DataFrame
summary_df = pd.DataFrame(columns=['Column', 'Unique_Count', 'Most_Common_Value', 'Frequency_of_Most_Common'])

# Loop through each column to get statistics
for col in df.columns:
    unique_count = df[col].nunique()
    most_common_value = dff[col].mode()[0]
    frequency_of_most_common = df[col].value_counts().iloc[0]
    
    # Append the statistics to the summary DataFrame
    summary_df = summary_df.append({
        'Column': col,
        'Unique_Count': unique_count,
        'Most_Common_Value': most_common_value,
        'Frequency_of_Most_Common': frequency_of_most_common
    }, ignore_index=True)

# Display the summary DataFrame
summary_df

                   Column Unique_Count        Most_Common_Value Frequency_of_Most_Common
0                vendorid            2                        2                   678074
1    tpep_pickup_datetime       711835  2021-01-22T08:42:40.000                        9
2   tpep_dropoff_datetime       712004  2021-01-12T00:00:00.000                       17
3         passenger_count            9                        1                   757484
4           trip_distance         3423                      0.8                    17361
5              ratecodeid            7                        1                   981352
6      store_and_fwd_flag            2                        N                   985043
7            pulocationid          255                      236                    56635
8            dolocationid          260                      236                    56124
9            payment_type            4                        1                   731459
10            fare_amount         1149                      6.0                    60750
11                  extra           19                      0.0                   493650
12                mta_tax            3                      0.5                   990761
13             tip_amount         1922                      0.0                   303388
14           tolls_amount          240                      0.0                   970813
15  improvement_surcharge            3                      0.3                   994251
16           total_amount         5871                      9.3                    22155
17   congestion_surcharge            4                      2.5                   896880

-----

### Check the unique values in DataFrame df according to the Data dictionry variable information

In [33]:
import pandas as pd


# Define the expected unique values for categorical columns based on your data dictionary
categorical_expected_values = {
    'vendorid': [1, 2],
    'ratecodeid': [1, 2, 3, 4, 5, 6, 99],
    'store_and_fwd_flag': ['Y', 'N'],
    'payment_type': [0, 1, 2, 3, 4, 5, 6],
}

# Function to verify and print unique values in categorical columns
def verify_categorical_columns(df, expected_values):
    for col, expected in expected_values.items():
        # Ensure the column exists in DataFrame
        if col not in df.columns:
            print(f"Column: {col} does not exist in the DataFrame.")
            continue

        unique_values = df[col].dropna().unique().tolist()
        unexpected_values = [v for v in unique_values if v not in expected]
        
        print(f"Column: {col}")
        print(f"Expected: {expected}")
        print(f"Actual: {unique_values}")
        
        if unexpected_values:
            print(f"Unexpected values: {unexpected_values}")
        else:
            print("All actual values are expected.")
        print()  # Print a blank line for readability

# Run the verification function on the DataFrame 'df'
verify_categorical_columns(df, categorical_expected_values)

Column: vendorid
Expected: [1, 2]
Actual: [1, 2]
All actual values are expected.

Column: ratecodeid
Expected: [1, 2, 3, 4, 5, 6, 99]
Actual: [1, 2, 4, 5, 3, 99, 6]
All actual values are expected.

Column: store_and_fwd_flag
Expected: ['Y', 'N']
Actual: ['N', 'Y']
All actual values are expected.

Column: payment_type
Expected: [0, 1, 2, 3, 4, 5, 6]
Actual: [2, 1, 4, 3]
All actual values are expected.

#### Summary 

- DataFrame df for categorical columns indicates that all actual values match the expected unique values, with no anomalies detected. The VendorID, RatecodeID, store_and_fwd_flag, and payment_type columns all contain the appropriate expected data based on the provided dictionary. This suggests that the dataset is clean and consistent in terms of categorical data, and there are no unexpected or missing values. Further analysis can proceed with confidence in the integrity of these categorical fields.

-----

### Convert pickup and dropoff datetime from object to datetime64

In [40]:
# Convert pickup and dropoff datetime from object to datetime64
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

# Convert store_and_fwd_flag to category
df['store_and_fwd_flag'] = df['store_and_fwd_flag'].astype('category')

#### Data Type Transformation Summary

A total of 18 columns were reviewed for data type appropriateness, and changes were made to enhance data processing efficiency and enable proper analysis:

- **tpep_pickup_datetime** and **tpep_dropoff_datetime**: These columns were converted from `object` to `datetime64` to facilitate time series analysis. Converting to `datetime64` allows for more efficient date and time operations, which are essential for any time series analysis.

- **store_and_fwd_flag**: This column was changed from `object` to `category` since it contains a limited number of distinct values. This change reduces memory usage and can speed up operations on the column.

The rest of the columns were determined to have appropriate data types for the analysis and thus were not modified. These data type optimizations ensure that our dataset is now primed for further analysis, including time series and categorical data operations.


#### After the data type changes, we can create the markdown table to reflect these changes:


| Column No. | Column                | Non-Null Count | Previous Dtype | Now Dtype  | Comments and Justification                                          |
|------------|-----------------------|----------------|----------------|------------|--------------------------------------------------------------------|
| 0          | vendorid              | 999999 non-null| int64          | int64      | No change needed.                                                   |
| 1          | tpep_pickup_datetime  | 999999 non-null| object         | datetime64 | Converted to datetime64 for time series analysis.                   |
| 2          | tpep_dropoff_datetime | 999999 non-null| object         | datetime64 | Converted to datetime64 for time series analysis.                   |
| 3          | passenger_count       | 999999 non-null| int64          | int64      | No change needed.                                                   |
| 4          | trip_distance         | 999999 non-null| float64        | float64    | No change needed.                                                   |
| 5          | ratecodeid            | 999999 non-null| int64          | int64      | No change needed.                                                   |
| 6          | store_and_fwd_flag    | 999999 non-null| object         | category   | Converted to category for efficient storage and retrieval.          |
| 7          | pulocationid          | 999999 non-null| int64          | int64      | No change needed.                                                   |
| 8          | dolocationid          | 999999 non-null| int64          | int64      | No change needed.                                                   |
| 9          | payment_type          | 999999 non-null| int64          | int64      | No change needed.                                                   |
| 10         | fare_amount           | 999999 non-null| float64        | float64    | No change needed.                                                   |
| 11         | extra                 | 999999 non-null| float64        | float64    | No change needed.                                                   |
| 12         | mta_tax                | 999999 non-null| float64        | float64    | No change needed.                                                   |
| 13         | tip_amount             | 999999 non-null| float64        | float64    | No change needed.                                                   |
| 14         | tolls_amount           | 999999 non-null| float64        | float64    | No change needed.                                                   |
| 15         | improvement_surcharge  | 999999 non-null| float64        | float64    | No change needed.                                                   |
| 16         | total_amount           | 999999 non-null| float64        | float64    | No change needed.                                                   |
| 17         | congestion_surcharge   | 999999 non-null| float64        | float64    | No change needed.                                                   |


----------

## Performing data profiling using pandas_profiling library

In [42]:
# Perform data profiling using pandas_profiling library
profile = pandas_profiling.ProfileReport(df)

# Save the report as an HTML file
profile.to_file("Yellow_Taxi_Trip_Data.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]